# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Configurações locais
.env
.env.local
.env.*.local

# Logs
*.log

# Sistema
.DS_Store

# Railway / Vercel / Heroku configs locais
.vercel/
.railway/
.heroku/

# Cache
.cache/

#  pagbank
private.pem
public.pem